{% extends "base.html.twig" %}

{% block content %}
    <div class="Main_Au_Bureau" data-controller="header-disable">
        <div class="Au_Bureau_Menu">
            <img src="{{ asset('build/website/images/logobureau.jpg')}}">
            <p>
                A EMPORTER

                RESERVER

                L'UNIVERS AB

                NOS PUBS

                FOOD & BEER

                ACTUS

                LA FRANCHISE

            </p>


            <img id="logo" src="{{ asset('build/website/images/compte.jpg')}}">

            <hr>

        </div>
        <div class="Au_Bureau_Tete">
            <img src="{{ asset('build/website/images/AB_METZ-MUSE_15-panorama.jpg')}}">

            <h3>TROUVER VOTRE PUB </h3>

            <button> En savoir plus</button>
        </div>

        <div class="Au_Bureau_Deuxieme">
            <div class="Au_Bureau_Deuxieme_Plat_Jour">
                <img src="{{ asset('build/website/images/au-bureau-camembert-roti-9b3ea.jpg')}}">

                <p>NOS PLATS DU JOUR</p>
            </div>

            <div class="Au_Bureau_Deuxieme_Actualite">
                <img src="{{ asset('build/website/images/5125594.jpg')}}">
                <p>ACTUS</p>
            </div>

        </div>

        <div class="Au_Bureau_Troisieme">

            <img src="{{ asset('build/website/images/bigau_bureau_2.jpg')}}">

            <div class="Au_Bureau_Troisieme_Text">
                <h3>FOOD & BEER</h3>

                <p>Entrez dans l'univers des pubs anglais et découvrez la cuisine
                    Au Bureau : conviviale, généreuse et gourmande. Déjeunez ou
                    dînez avec une carte riche, centrée sur les plats du pub, les burgers
                    et les plats à partager et profitez de notre large choix de bières
                    ainsi que des happy hours!</p>

                <button>En savoir plus</button>


            </div>

        </div>

        <div class="Au_Bureau_Click_Collect">

            <img src="{{ asset('build/website/images/340b7b37-e0b0-4f4d-8c14-1ef8ccc5d7ca.jpg')}}">

            <div class="Au_Bureau_Click_Collect_Text">

                <h2> CLICK AND COLLECT</h2>

                <p id="text1">Nos plats sont désormais disponible en Click and Collect.
                    <br>Grâce à la solution EasyClick,commandez
                    <br> et venez chercher vos plats en quelques minutes.

                    <br><br> Vous savez ce qui vous reste à faire.</p>

                <button> COMMANDER </button>

                <p id="text2">Commander dès maintenant sur l’extension EasyClick</p>

            </div>
        </div>


        <div class="Au_Bureau_Franchise">
            <div class="Au_Bureau_Franchise_Text">
                <h3>DEVENIR FRANCHISE</h3>

                <p>Rejoignez une enseigne dynamique & conviviale, filiale du groupe Bertrand. A la fois pub, brasserie et restaurant, les établissements Au Bureau proposent des animations et des offres adaptées à tous les moments de la journée, afin de transporter les consommateurs dans une ambiance authentique et chaleureuse.</p>

                <button>En savoir plus</button>

            </div>

            <img src="{{ asset('build/website/images/hommefemme.jpg')}}"></div>

        <div class="Au_Bureau_Footer">
            <hr>

            <div class="Au_Bureau_Footer_G">
                <p id="colonne1"> Nous contacter <br>
                    <br>CGU <br>
                    <br>Mention légale <br>
                    <br>Contact<br>
                    <br>Presse</p>

                <p id="colonne2">Politique de confidentialité <br>
                    <br>Réglement</p>

            </div>

            <div class="Au_Bureau_Footer_D">

                <img src="{{ asset('build/website/images/instagram.jpg')}}">

                <img src="{{ asset('build/website/images/twitter.jpg')}}">

                <img src="{{ asset('build/website/images/lew.jpg')}}">

                <img src="{{ asset('build/website/images/facebook.jpg')}}">

            </div>

        </div>



    </div>
{% endblock %}