{% extends "base.html.twig" %}

{% block content %}
<div class="EasyClickPage2_body" data-controller="header-disable">

    <div class="EasyClickPage2_header">

        <div class="EasyClickPage2_header_menu">
            <img src="{{ asset('build/website/images/EC-Restauration-blanc.png')}}" alt="">

            <ul>
                <li id="uno"><a href="/"> Nos Services</a></li>
                <li id="secondo" ><a href="#">Comment ça marche</a> </li>
                <hr>
            </ul>

        </div>

        <div class="EasyClickPage2_header_main">
            <h1>L’unique solution de menus sur tablettes,
                <br>livrée clé en main !</h1>

            <div class="EasyClickPage2_pastille"></div>
            <div class="EasyClickPage2_pastilleorange"></div>
            <img id="appareil" src="{{ asset('build/website/images/appareil.png')}}" alt="">
            <img id="ordi" src="{{ asset('build/website/images/mockup.png')}}" alt="">


        </div>


    </div>

    <div class="EasyClickPage2_main">

        <p>De l’audit jusqu’à la personnalisation complète de votre Click and Collect,
            <br> <span> on s’ocupe de tous !</span></p>

        <div class="EasyClickPage2_main_premier">

            <div class="EasyClickPage2_main_premier_gauche">

                <div class="EasyClickPage2_main_premier_gauche_pastille_ext"></div>

                <div class="EasyClickPage2_main_premier_gauche_pastille_int"></div>

                <span class="vertical-line"></span>


                <img src="{{ asset('build/website/images/oeufplat.jpg')}}" alt="">


            </div>

            <div class="EasyClickPage2_main_premier_droite">

                <h1>1.</h1>

                <h3>Configuration de votre carte</h3>

                <p>Notre équipe se rend dans votre établissement
                    <br>pour comprendre vos besoins. Après une analyse
                    <br>de votre fonctionnement et de vos objectifs, notre
                    <br>équipe opérationnelle digitalise entièrement votre
                    <br>carte pour l’adapter aux attentes de votre clientèle.</p>

            </div>

        </div>

        <div class="EasyClickPage2_main_second">

            <div class="EasyClickPage2_main_second_gauche">

                <div class="EasyClickPage2_main_second_gauche_pastille_ext"></div>

                <div class="EasyClickPage2_main_second_gauche_pastille_int"></div>

                <span class="vertical-line"></span>

                <img src="{{ asset('build/website/images/appareil.png')}}" alt="">

            </div>

            <div class="EasyClickPage2_main_second_droite">

                <h1>2.</h1>

                <h3>Shooting photo professionnel</h3>

                <p>Si les clients mangent avec les yeux,
                    <br>professionnaliser les photos du menu est
                    <br>un enjeu.
                    <br>C’est pourquoi la photo est importante.
                    <br>Des entrées aux desserts, en passant par la carte
                    <br>des boissons, vous photographiez toute votre carte !
                    <br>En choississant notre formule +, nous vous offrons
                    <br>les expertises d’un véritable photographe, qui
                    <br>s’occupera de tous photographier !</p>

            </div>

        </div>

        <div class="EasyClickPage2_main_troisieme">

            <div class="EasyClickPage2_main_troisieme_gauche">

                <div class="EasyClickPage2_main_troisieme_gauche_pastille_ext"></div>

                <div class="EasyClickPage2_main_troisieme_gauche_pastille_int"></div>

                <span class="vertical-line"></span>

                <img src="{{ asset('build/website/images/formation.png')}}" alt="">

            </div>


            <div class="EasyClickPage2_main_troisieme_droite">

                <h1>3.</h1>

                <h3>Formation à votre espace client</h3>

                <p>Votre menu digital est prêt ?
                    <br>Nous formons ensuite votre équipe : modification
                    <br>de la carte, création de formules, d’événements,
                    <br>analyse de la consommation… l’espace client
                    <br>n’aura plus de secret pour vous !</p>

            </div>


        </div>
    </div>

    <div class="EasyClickPage2_main_button">

        <button>Demander une démo</button>

    </div>




    <div class="EasyClickPage2_footer">
        <p id="footer1">+1000 restaurants utilisent </p> <p id="footer2">le Click and Collect</p>

        <div class="EasyClickPage2_footer_images">

            <img id="aubureau" src="{{ asset('build/website/images/Au-bureau-Logo-white.png')}}" alt="">
            <img id="it" src="{{ asset('build/website/images/logo-white.png')}}" alt="">
            <img id="robin" src="/{{ asset('build/website/images/logo_robin.webp')}}" alt="">
            <img id="pancook" src="{{ asset('build/website/images/pancook_64810.jpg')}}" alt="">
            <img id="arc" src="{{ asset('build/website/images/7110359781481cafb7c6fecc7a553a35.png.jpeg')}}" alt="">
            <img id="zango" src="{{ asset('build/website/images/zango_46984.jpg')}}" alt="">

        </div>

        <br>
        <br>
    </div>



</div>
{% endblock %}