{% extends "base.html.twig" %}

{% block content %}
    <div class="IT-container" data-controller="header-disable">
        <div class="IT-container-header">
            <div class="IT-container-header-logo-home">
                <img src="{{ asset('build/website/images/3-la-carte.jpg')}}">
            </div>
            <div class="IT-container-header-logo-Langue">
                <img src= "{{ asset('build/website/images/FR:EN.svg')}}">
            </div>
            <div class="IT-container-header-logo-black">
                <img src="{{ asset('build/website/images/logo-black.jpg')}}">
            </div>
            <div class="IT-container-header-logo-TroisBarres">
                <img src="{{ asset('build/website/images/Troisbarres.png')}}">
            </div>
            <div class="IT-container-header-logo-blanc">
                <img src="{{ asset('build/website/images/logo blanc.svg')}}">
            </div>
            <div class="IT-container-header-logo-down">
                <img src="{{ asset('build/website/images/down.png')}}">
            </div>
        </div>
        <div class="IT-container-main">
            <div class="IT-container-main-LaCarte">
                <h3>LA CARTE</h3>
                <div class="IT-container-main-LaCarte-texte">
                    <p>Tous les jours nous préparons des produits frais, sur place et
                        avec passion. Notre propre pâte à pizza, nos pâtes fraiches
                        dans la pure tradition italienne et dans le respect absolu des
                        valeurs nutritives. Une carte saine où nous mettons l'accent
                        sur la qualité des produits et sur le goût. Découvrez notre carte
                        complète ci-dessous : </p>
                </div>
                <div class="IT-container-main-LaCarte-image">
                    <img src="{{ asset('build/website/images/big-5.jpg')}}">
                </div>
                <div class="IT-container-main-LaCarte-carre">
                    <p> PASTA FRESCA</p>
                    <p> PIZZERIA    </p>
                    <p> ANTIPASTI   </p>
                    <p> DOLCI       </p>
                    <p> VINO        </p>
                    <p> FRESH JUICE </p>
                </div>
                <div class="IT-container-main-LaCarte-Pasta">
                    <div class="IT-container-main-LaCarte-Pasta-top">
                        <h3>PASTA FRESCA                   </h3>
                        <p> A partir de 6,90€              </p>
                        <hr>
                    </div>
                    <p>La fabrication des pâtes est réalisée sur place, tous les jours. Elles sont composées d’eau et semoule uniquement.</p>
                    <div class="IT-container-main-LaCarte-Pasta-bottom">
                        <div class="IT-container-main-LaCarte-Pasta-bottom-left">
                            <div class="IT-container-main-LaCarte-Pasta-individuel">
                                <H4> PASTA GENOVESE            </H4>
                                <p>Pesto de Basilic, Parmesan DOP, Tomates Cerises,
                                    Poivre Noir, Huile d'Olive Extra Vierge
                                </p>
                            </div>
                            <div class="IT-container-main-LaCarte-Pasta-individuel">
                                <H4> PASTA CARBONARA           </H4>
                                <p>Guanciale (Lard Gras Italien), Jaune d’œuf,
                                    Pecorino Romano DOP, Bouillon de Volaille,
                                    Poivre Noir, Huile d’Olive Extra Vierge
                                </p>
                            </div>
                            <div class="IT-container-main-LaCarte-Pasta-individuel">
                                <H4> PASTA TARTUFO E FUNGHI    </H4>
                                <p>Guanciale (Lard Gras Italien), Jaune d’œuf,
                                    Pecorino Romano DOP, Bouillon de Volaille,
                                    Poivre Noir, Huile d’Olive Extra Vierge
                                </p>
                            </div>
                            <div class="IT-container-main-LaCarte-Pasta-individuel">
                                <H4> PASTA POMODORO E PARMIGIANO   </H4>
                                <p>Guanciale (Lard Gras Italien), Jaune d’œuf,
                                    Pecorino Romano DOP, Bouillon de Volaille,
                                    Poivre Noir, Huile d’Olive Extra Vierge
                                </p>
                            </div>
                        </div>
                        <div class="IT-container-main-LaCarte-Pasta-bottom-right">
                            <div class="IT-container-main-LaCarte-Pasta-individuel">
                                <H4> PASTA AMALFI  </H4>
                                <p>Saumon Fumé, Oignons, Parmesan DOP, Ail, Poivre Noir,
                                    Mascarpone, Persil Frais, Courgettes, Huile d’Olive Extra
                                    Vierge, Vin Blanc des Abruzzes
                                </p>
                            </div>
                            <div class="IT-container-main-LaCarte-Pasta-individuel">
                                <H4> PASTA ALLA NORMA  </H4>
                                <p>Sauce aux Tomates Cerises de Sicile, Poivre Noir, Aubergines
                                    Grillées, Origan, Basilic, Ricotta Salée, Ail, Huile d’Olive Extra
                                    Vierge
                                </p>
                            </div>
                            <div class="IT-container-main-LaCarte-Pasta-individuel">
                                <H4> PASTA POLPETTE ALLA SICILIANA  </H4>
                                <p>Sauce aux Tomates Cerises de Sicile, Parmesan DOP, Boulettes
                                    de Boeuf et Porc, Pesto de Basilic, Ail, Poivre Noir, Huile
                                    d’Olive Extra Vierge
                                </p>
                            </div>
                            <div class="IT-container-main-LaCarte-Pasta-individuel">
                                <H4> RADIATORI BAMBINI (JUSQU’À 12 ANS)  </H4>
                                <p>Nos Pâtes Fraîches avec Beaucoup de Sauce Tomate
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="IT-container-main-ClickandCollect">
            <div class="IT-container-main-ClickandCollect-photo">
                <img src="{{ asset('build/website/images/home-gallery-b.jpg')}}">
            </div>
            <div class="IT-container-main-ClickandCollect-photo1">
                <img src="{{ asset('build/website/images/clickandCollect.svg')}}">
            </div>
            <div class="IT-container-main-ClickandCollect-texte">
                <p> Nos plats sont désormais disponible en Click and
                    Collect. Grâce à la solution EasyClick, commandez
                    et venez chercher vos plats en quelques minutes.
                </p>
            </div>
            <div class="IT-container-main-ClickandCollect-texte2">
                <p>Vous savez ce qui vous reste à faire.</p>
            </div>
            <div class="IT-container-main-ClickandCollect-button">
                <button type="button">Commander</button>
                <p> Commander dès maintenant sur l'extension EasyClick </p>
            </div>
        </div>
        <div class="IT-container-main-block-images">
            <div class="IT-container-main-block-images-haut">
                <div class="IT-container-main-block-images-haut-left">
                    <div class="IT-container-main-block-images-haut-left-haut">
                        <img src="{{ asset('build/website/images/carte-vins.jpg')}}">
                    </div>
                    <div class="IT-container-main-block-images-haut-left-bas">
                        <img src="{{ asset('build/website/images/carte-cafes.jpg')}}">
                    </div>
                </div>
                <div class="IT-container-main-block-images-haut-right">
                    <img src="{{ asset('build/website/images/carte-charcut.jpg')}}" >
                    <div class="IT-container-main-block-images-haut-right-commentaire">
                        <p>
                            Chez IT tous nos produits sont
                            frais, préparés sur place
                            quotidiennement par nos soins
                            et avec amour.
                        </p>
                    </div>
                </div>
            </div>
            <div class="IT-container-main-block-images-bas">
                <img src="{{ asset('build/website/images/fruits.png')}}" >
            </div>
        </div>
        <div class="IT-Footer-logo">
            <img src="{{ asset('build/website/images/logofooter.jpg')}}">
        </div>
        <div class="IT-Footer-logo-RS">
            <img src="{{ asset('build/website/images/RS.png')}}">
        </div>
    </div>
{% endblock %}
