{% extends "base.html.twig" %}

{% block content %}
    <div class="liste-plat-container" data-controller="listePlat">
        <div class="liste-plat-menu">
            {% for items in content.listMenu %}
                <p class="liste-menu-indiv">{{ items.title }}</p>
            {% endfor %}
            <hr>
        </div>
        <div class="liste-plat-main">
            {% for item in content.pages %}
                <a href="{{ item.url }}">
                    <div class="liste-plat-indiv {{ item.category.name }}">
                        {% for image in item.imagePlat %}
                            <img src="{{ image.url }}" alt="">
                        {% endfor %}
                        <div class="description">
                            <h2>{{ item.title }}</h2>
                            {% if item.category.name == "PASTA-FRESCA" or item.category.name == "PIZZERIA" or item.category.name == "ANTIPASTA" %}
                                <p>{{ item.number2 }} €</p>
                            {% else %}
                                <p>{{ item.prix }} €</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
